
<h2>
    Title: <%= @title%><br>
    Description: <%= @description%><br>
    <%@tasks.each do |task|%>
    <a href="/task-details/<%=task.id%>/<%=@tasklist_id%>" >Task: <%= task.title%> <br></a>
    <%end%>
</h2>


